<html>
<head>
    <title>Go Pub/Sub UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" rel="stylesheet">
    <link rel="icon" href="/static/logo.png">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <img src="/static/logo.png" alt="Pub/Sub Logo"/>
            </div>
            <h4>Topics</h4>
            <div id="messages-list">
                <ul v-for="(messages, topic) in topics" class="collection with-header">
                    <li class="collection-header"><h5>{{ "{{ topic }}" }}</h5></li>
                    <li v-for="message in messages" class="collection-item" :key="message.ID">
                        <span style="font-size: 10px; color: #333333;">{{ "{{ message.PublishTime }}" }} (ID {{ "{{ message.ID }}" }}):</span>
                        <div v-if="message.Data">
                            <span style="font-size: 8px; color: #333333;">message.Data:</span>
                            <pre>
                                <code class="language-json">
                                    {{ "{{ atob(message.Data) }}" }}
                                </code>
                            </pre>
                        </div>
                        <div v-if="message.Attributes">
                            <span style="font-size: 8px; color: #333333;">message.Attributes:</span>
                            <pre>
                                <code class="language-json">
                                    {{ "{{ message.Attributes }}" }}
                                </code>
                            </pre>
                        </div>
                    </li>
                </ul>
                <p v-if="Object.keys(topics).length == 0">No messages yet 📭</p>
            </div>
        </div>
    </div>
    <div class="row">
        <form method="post" class="col s12" id="publish" action="/publish">
            <h4>Publish message</h4>
            <div class="row">
                <div class="input-field col s6">
                    <select name="topic" id="topic" required="required">
                        <option value="" disabled selected>Choose a topic</option>
                    {{ range $_, $topic := .Config.Topics }}
                        <option value="{{ $topic.ID }}">{{ $topic.Name }} [{{ $topic.Project }}]</option>
                    {{ end }}
                    </select>
                </div>
                <div class="input-field col s6">
                    <select id="payload-list">
                        <option value="" disabled selected>Choose an existing payload</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="payload" name="payload" class="materialize-textarea" cols="4"
                              placeholder="Enter JSON payload here" required="required">{}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center-align">
                    <button type="submit" class="btn waves-effect waves-light">Publish <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://unpkg.com/jsonlint@1.6.3/web/jsonlint.js"></script>
<script src="/static/bundle.js"></script>
<script>
    Prism.plugins.NormalizeWhitespace.setDefaults({
        'remove-trailing': true,
        'remove-indent': true,
        'left-trim': true,
        'right-trim': true,
    });

    var topics = {};

    {{ range $_, $topic := .Config.Topics }}
    topics[{{$topic.ID}}] = [];
    {{ range $_, $payload := $topic.Payloads }}
    topics[{{$topic.ID}}].push({"name": {{$payload.Name}}, "payload": {{$payload.Payload}}});
    {{ end }}
    {{ end }}

    var topic = '';
    jQuery(function ($) {
        M.FormSelect.init(document.querySelectorAll('select'), {});

        $('#topic').on('change keyup', function () {
            topic = $(this).val();
            if (!topic in topics) {
                return;
            }

            $('#payload-list').find('option').not('[disabled]').remove();
            topics[topic].forEach(function (payload) {
                $('#payload-list').append($('<option>', {
                    value: payload.payload,
                    text: payload.name
                }));
            });

            $("#payload-list").val('');
            M.FormSelect.init(document.querySelectorAll('select'), {});
        });

        $('#payload-list').on('change keyup', function () {
            // Stringify for pretty-printing
            payloadCM.setValue(JSON.stringify(JSON.parse($(this).val()), null, 2));
        });

        $("#publish").submit(function (e) {
            e.preventDefault();

            payloadCM.save();

            try {
                JSON.parse($('#payload').val());
            } catch (e) {
                M.toast({html: 'Invalid JSON payload'});
                return;
            }

            var $form = $(this);
            var url = $form.attr('action');

            $.ajax({
                type: 'POST',
                url: url,
                data: $form.serialize(),
                success: function (data) {
                    M.toast({html: 'Message ' + data.id + ' published to topic ' + data.topic});
                },
                error: function (data) {
                    M.toast({html: 'Error: ' + data.responseText});
                }
            });
        });
    });

    let vueMessages = new Vue({
        el: '#messages-list',
        data() {
            return {
                topics: []
            }
        },
        mounted() {
            this.fetchMessages();
        },
        updated() {
            Prism.highlightAll(false, () => {});
        },
        methods: {
            fetchMessages() {
                let that = this;
                $.getJSON('/messages', function (data) {
                    that.topics = data;
                });
            }
        }
    });

    let es = new EventSource('/events/messages');
    es.onmessage = function(event) {
        vueMessages.topics = JSON.parse(event.data);
    };
</script>
</body>
</html>
